SUBSYSTEM=="tty", ENV{ID_SERIAL_SHORT}=="9523834333435171F1A0", MODE="0666", OWNER="andrew", GROUP="andrew", SYMLINK+="arduino_encoder"
SUBSYSTEM=="tty", ENV{ID_SERIAL_SHORT}=="74134373733351416161", MODE="0666", OWNER="andrew", GROUP="andrew", SYMLINK+="arduino_motor"


